<div class="calendar">
    <div class="calendar__row calendar__row_header">
        <div class="calendar__header js-layout-timeline">

        </div>
    </div>

    {{#rooms}}
        {{#room}}
            <div class="calendar__row">
                <div class="calendar__room">
                    <div class="calendar__name">{{title}}</div>
                    <div class="calendar__capacity">{{capacity}}</div>
                </div>
                <div class="calendar__timeline js-events">
                    {{#events}}
                        <div class="calendar__meetup tooltip__trigger js-tooltip-trigger" style="left: {{left}}%; width: {{width}}%">
                            <div class="tooltip">
                                <span class="tooltip__arrow">&nbsp;</span>
                                <span class="tooltip__edit">
                                    <button class="btn btn_round btn_grey" data-event-id="{{id}}">
                                        <span class="btn__icon">
                                            <i class="icon icon_edit">&nbsp;</i>
                                        </span>
                                    </button>
                                </span>
                                <div class="tooltip__title">{{title}}</div>
                                <div class="tooltip__text">
                                    <span class="tooltip__date">{{dateText}}</span>
                                    <span class="tooltip__time">{{startTimeText}} - {{endTimeText}}</span>
                                    <span class="tooltip__bullet">&#8226;</span>
                                    <span class="tooltip__room">{{room.title}}</span>
                                </div>
                                <div class="tooltip__participant">
                                    <div class="short-participant">
                                        <img class="short-participant__img" src="../assets/dart.jpg" alt="">
                                        <span class="shor-participant__name">{{participantName}}</span>
                                    </div>
                                </div>
                                <div class="tooltip__others">
                                    {{participantsCountText}}
                                </div>
                            </div>
                        </div>
                    {{/events}}
                </div>
            </div>
        {{/room}}
    {{/rooms}}
  </div>
