<div class="calendar">
    {{#floors}}
        <div class="calendar__row calendar__row_floor">
            <div class="calendar__room">
                <div class="calendar__name calendar__name_floor">{{number}} этаж</div>
            </div>
            <div class="calendar__timeline"></div>
        </div>
        {{#rows}}
          {{#room}}
            <div class="calendar__row">
                <div class="calendar__room">
                    <div class="calendar__name">{{title}}</div>
                    <div class="calendar__capacity">{{roomCapacity}}</div>
                </div>
                <div class="calendar__timeline js-events">
                    {{#events}}
                        <div class="calendar__meetup tooltip__trigger js-tooltip-trigger" style="left: {{left}}%; width: {{width}}%" data-event-id={{id}}>

                        </div>
                    {{/events}}
                </div>
            </div>
          {{/room}}
        {{/rows}}
    {{/floors}}
  </div>
