<div class="header{{#if no_btn}} header_no-btn{{/if}}">
  <table class="header__table">
    <tbody>
      <tr>
        <td>
          <div class="header__logo">
            <a class="logo" href="/">&nbsp;</a>
          </div>
        </td>
        <td>
          <div class="header__btn">
            <button class="btn btn_primary btn_small btn_blue">Создать встречу</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
