<div class="participant">
  <img class="participant__img" src="{{i}}"/>
  <span class="participant__name">{{n}}</span>
  <button class="btn btn_round participant__close">
    <span class="btn__icon">
      <i class="icon icon_close">&nbsp;</i>
    </span>
  </button>
</div>
