<div class="room {{#if room_picked}}room_picked{{/if}}">
  <span class="room__time">{{t}}</span>
  <span class="room__name">{{n}}</span>
  <span class="room__bullet">&#8226;</span>
  <span class="room__floor">{{f}}</span>
  <span class="room__close">
    <i class="icon icon_close-white">&nbsp;</i>
  </span>
</div>
