<div class="user">
  <img class="user__img" src="{{i}}" alt="Юзер">
  <span class="user__name">{{n}}</span>
  <span class="user__bullet">&#8226;</span>
  <span class="user__floor">{{f}}</span>
</div>
