<div class="day-picker">
    <span class="day-picker__prev">
        <button class="btn btn_round btn_grey">
            <span class="btn__icon">
                <i class="icon icon_prev">&nbsp;</i>
            </span>
        </button>
    </span>

    <span class="day-picker__day">14 дек</span>
    <span class="day-picker__divider">&#8226;</span>
    <span class="day-picker__week-day">Сегодня</span>

    <span class="day-picker__next">
        <button class="btn btn_round btn_grey">
            <span class="btn__icon">
                <i class="icon icon_next">&nbsp;</i>
            </span>
        </button>
    </span>
</div>
