<div class="date-picker">
    <span class="date-picker__prev">
        <button class="btn btn_round btn_grey">
            <span class="btn__icon">
                <i class="icon icon_prev">&nbsp;</i>
            </span>
        </button>
    </span>

    <span class="date-picker__day">{{currentDateText}}</span>
    <span class="date-picker__divider">&#8226;</span>
    <span class="date-picker__week-day">{{currentWeekDay}}</span>

    <span class="date-picker__next">
        <button class="btn btn_round btn_grey">
            <span class="btn__icon">
                <i class="icon icon_next">&nbsp;</i>
            </span>
        </button>
    </span>
</div>
