@import 'var.css';

.btn {
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}

  .btn__icon {
    opacity: 0.2;
    transition: opacity $transition;
  }

  .btn:hover .btn__icon {
    opacity: 1;
    transition: opacity $transition;
  }

  .btn_round {
    border-radius: 100%;
    size: 24px;

    @media screen and (max-width: $max-sm) {
      size: 32px;
    }
  }

  .btn_primary {
    padding: 10px 16px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 4px;
    letter-spacing: 0;

    @media screen and (max-width: $max-sm) {
      padding: 13px 24px;
      font-size: 15px;
      line-height: 18px;
    }
  }

  .btn_small {
    @media screen and (max-width: $max-sm) {
      padding: 8px;
    }
  }

  .btn_blue {
    background-color: $color-blue;
    color: $color-white;
    transition: background $transition;

    &:hover {
      background-color: $color-blue-hover;
      transition: background $transition;
    }

    &:active {
      background-color: $color-blue-pressed;
    }
  }

  .btn_grey {
    background-color: $color-grey;
    color: black;
    transition: background $transition;

    &:hover {
      background-color: $color-grey-hover;
      transition: background $transition;
    }

    &:active {
      background-color: $color-grey-pressed;
    }
  }

  .btn_no-hover:hover {
    cursor: default;
  }

  .btn_color-red {
    color: red;
  }

  .btn_transparent {
    background-color: transparent;
  }
