@import 'var.css';

.dropdown {
  position: relative;
}

.dropdown__list {
  display: none;
  position: absolute;
  top: 44px;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 10px 0 rgba(0,44,92,0.28);
  max-height: 135px;
  overflow: scroll;
  z-index: 1;

  @media screen and (min-width: $min-lg) {
    top: 38px;
  }
}

input:focus+.dropdown__list {
  display: block;
}
