@import 'var.css';

.form {
  display: none;
  width: 100%;
  height: calc(100vh - 71px);
  padding-top: 4px;
  padding-bottom: 80px;
  background: $color-white;

  @media screen and (min-width: $min-lg) {
    padding-top: 7px;
    padding-bottom: 76px;
  }
}

  .form_visible {
    display: block;
  }

.form__container {
  box-sizing: border-box;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;

  @media screen and (min-width: $min-lg) {
    max-width: 904px;
    margin: 0 auto;
    padding-top: 24px;
  }
}

.form__title {
  float: left;

  width: 90%;
  margin-bottom: 16px;

  font-family: $font;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  @media screen and (min-width: $min-lg) {
    margin-bottom: 20px;
  }
}

.form__close {
  float: right;
}

.form__row {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom: 8px solid $color-grey;

  font-size: 0;

  @media screen and (min-width: $min-lg) {
    padding-top: 0;
    padding-bottom: 0;

    border: none;
  }
}

.form__row_no-padding {
  padding: 0;
}

.form__field {
  position: relative;

  display: inline-block;

  vertical-align: top;
}

.form__field_lg {
  width: 100%;
  margin-bottom: 16px;

  @media screen and (min-width: $min-lg) {
    max-width: 420px;
    margin-right: 32px;
    margin-bottom: 0;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.form__field_md {
  width: 100%;
  margin-bottom: 8px;

  @media screen and (min-width: $min-lg) {
    max-width: 238px;
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.form__field_sm {
  width: calc(50%-11px);

  @media screen and (min-width: $min-lg) {
    max-width: 72px;
  }
}

.form__field_no-margin {
  margin: 0;
}

.form__dash {
  display: inline-block;

  width: 14px;
  margin-top: 13px;
  margin-right: 4px;
  margin-left: 4px;

  font-size: 16px;

  @media screen and (min-width: $min-lg) {
    margin-top: 30px;
  }
}

.form__btn {
  margin-right: 16px;

  &:last-child {
    margin-left: 0;
  }
}

.form__participant-list {
  padding-top: 12px;

  @media screen and (max-width: $max-sm) {
    position: relative;

    padding-bottom: 28px;

    &::before {
      position: absolute;
      right: -16px;
      bottom: 0;
      left: -16px;

      display: block;

      height: 8px;

      content: '';

      background-color: $color-grey;
    }
  }
}

.form__label {
  margin-bottom: 4px;

  font-family: $font;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;

  @media screen and (min-width: $min-lg) {
    margin-bottom: 3px;
  }
}

.form__input {
  display: block;

  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 11px 10px 12px;

  cursor: pointer;
  transition: $transition;

  border: 2px solid $color-grey;
  border-radius: 4px;
  background: transparent;

  font-family: $font;
  font-size: 13px;

  @media screen and (min-width: $min-lg) {
    height: 38px;
  }

  &:hover,
  &:focus {
    transition: $transition;

    border: 2px solid $color-blue;
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

.form__input:hover + .form__input-icon,
.form__input:focus + .form__input-icon {
  transition: opacity $transition;

  opacity: 1;
}

.form__input-icon {
  position: absolute;
  right: 12px;
  bottom: 14px;

  transition: opacity $transition;
  pointer-events: none;

  opacity: 0.2;
}

.form__room-list {
  @media screen and (max-width: $max-sm) {
    padding-bottom: 42px;
  }
}

.form__disclaimer {
  position: absolute;
  top: -40px;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  padding: 12px 16px;

  text-align: left;

  color: white;
  background-color: rgba(0,16,33,0.80);

  font-family: $font;
  font-size: 15px;
  line-height: 18px;
}

.form__footer {
  position: fixed;
  z-index: 1;
  bottom: 0;

  box-sizing: border-box;
  width: 100%;
  padding: 16px 0 20px;

  text-align: right;

  border-top: 0;
  border-top: 1px solid $color-grey;
  background-color: white;

  @media screen and (min-width: $min-lg) {
    padding: 20px 0;

    text-align: center;
  }
}
