@import 'var.css';

.logo {
  display: block;

  background-image: url('../assets/logo.svg');
  background-size: cover;

  size: 149px 21px;

  @media screen and (min-width: $min-lg) {
    size: 174px 25px;
  }
}
