@import 'var.css';

.main-layout {
  padding-top: 47px;

  font-family: $font;

  @media screen and (max-width: $max-sm) {
    padding-top: 56px;
  }
}

  .main-layout__top {
    position: fixed;
    z-index: 1;
    top: 71px;

    display: table;

    box-sizing: border-box;
    width: 100%;
    height: 46px;

    border-bottom: 1px solid $color-grey;
    background: $color-white;

    @media screen and (max-width: $max-sm) {
      z-index: 1;
      top: 63px;

      display: block;

      height: 56px;
    }
  }

  .main-layout__day-picker {
      display: table-cell;

      min-width: 245px;


      @media screen and (max-width: $max-sm) {
        display: block;

        vertical-align: middle; 
      }
  }

  .main-layout__timeline {
      display: table-cell;
      display: none;

      width: 100%;
      margin-left: 180px;

      @media screen and (min-width: $min-lg) {
        display: table-cell;

        width: 100%;
        margin-left: 0;

        vertical-align: middle;
      }
  }

  .main-layout__body {
      width: 100%;

      background: $color-white;

      @media screen and (max-width: $min-lg) {
        overflow: scroll;
      }
  }

  .main-layout__footer {
      position: fixed;
      z-index: 3;

      width: 100%;
      height: 100vh;

      background: $color-white;
  }
