<div class="form js-form">
  <div class="form__row">
    <div class="form__container">
      <div class="form__title">{{#title}}Редактирование встречи{{/title}}{{^title}}Новая встреча{{/title}}</div>
      <div class="form__close">
        <button class="btn btn_round btn_grey g-hide-mobile js-form-close">
          <span class="btn__icon">
            <i class="icon icon_close">&nbsp;</i>
          </span>
        </button>
      </div>
      <div class="form__field form__field_lg">
        <div class="form__label">Тема</div>
        <input type="text" class="form__input input" placeholder="О чём будем говорить?" value="{{title}}">
      </div>
      <div class="form__field form__field_md">
        <div class="form__label">Дата<span class="g-hide-desk"> и время</span></div>
        <input type="text" class="form__input input form__input_date" value="{{date}}">
        <span class="form__input-icon">
          <i class="icon icon_calendar">&nbsp;</i>
        </span>
      </div>
      <div class="form__field form__field_sm">
        <div class="form__label g-hide-mobile">Начало</div>
        <input type="text" class="form__input input" value="{{startTime}}">
      </div>
      <i class="form__dash">&mdash;</i>
      <div class="form__field form__field_sm">
        <div class="form__label g-hide-mobile">Конец</div>
        <input type="text" class="form__input input" value="{{endTime}}">
      </div>
    </div>
  </div>
  <div class="form__row">
    <div class="form__container">
      <div class="form__field form__field_lg">
        <div class="form__label">Участники</div>
        <div class="dropdown">
          <input type="text" class="form__input input" placeholder="Например, Тор Одинович">
          <div class="dropdown__list js-dropdown-list">

          </div>
        </div>
        <div class="form__participant-list">
          {{#users}}
            <div class="participant">
              <img class="participant__img" src="{{avatarUrl}}"/>
              <span class="participant__name">{{login}}</span>
              <button class="btn btn_round participant__close js-delete-user-from-event">
                <span class="btn__icon">
                  <i class="icon icon_close">&nbsp;</i>
                </span>
              </button>
            </div>
          {{/users}}
        </div>
      </div>
      <div class="form__field form__field_lg form__field_no-margin">
        {{#room}}
          <div class="form__label">Ваша переговорка</div>
          <div class="form__room-list">
            <div class="room room_picked">
              <span class="room__time">{{startTime}} &dash; {{endTime}}</span>
              <span class="room__name">{{title}}</span>
              <span class="room__bullet">&#8226;</span>
              <span class="room__floor">{{floor}} этаж</span>
              <span class="room__close">
                <i class="icon icon_close-white">&nbsp;</i>
              </span>
            </div>
          </div>
        {{/room}}
        {{^room}}
          <div class="form__label">Рекомендованные переговорки</div>
          <div class="form__room-list">

          </div>
        {{/room}}

      </div>
    </div>
  </div>
  <div class="form__row form__row_no-padding g-hide-desk g-align-center">
    <button class="btn btn_primary btn_color-red btn_transparent">Удалить встречу</button>
  </div>
  <div class="form__footer">
    <button class="form__btn btn btn_primary btn_grey">Отмена</button>
    <button class="form__btn btn btn_primary btn_grey g-hide-mobile">Удалить встречу</button>
    <button class="form__btn btn btn_primary btn_blue">Сохранить</button>
  </div>
</div>
