<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Яндекс переговорки</title>
</head>
<body>
    <div class="js-layout-header"></div>
    <div class="main-layout">
        <div class="main-layout__top">
            <div class="main-layout__date-picker js-layout-date-picker"></div>
            <div class="main-layout__timeline js-layout-timeline"></div>
        </div>
        <div class="main-layout__body">
          <div class="main-layout__timeline-mobile js-layout-timeline"></div>
          <div class="main-layout__calendar js-layout-calendar"></div>
        </div>
        <div class="main-layout__footer"></div>
    </div>
    <div class="main-layout__form js-layout-form"></div>
    <div class="main-layout__modal js-layout-modal">

    </div>
</body>
</html>
