<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Яндекс переговорки</title>
</head>
<body>
  {{> components/header.hbs no_btn="true"}}
  <ul>
    <li><a href="main.html">Главная</a></li>
    <li><a href="new_meeting.html">Новая встреча</a></li>
    <li><a href="edit_meeting.html">Редактирование встречи</a></li>
    <li><a href="modal_success.html">Встреча создана</a></li>
    <li><a href="modal_cancel.html">Удалить встречу</a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
  </ul>
</body>
</html>
