<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Яндекс переговорки</title>
</head>
<body>
    {{> components/header.hbs}}
    <div class="main-layout">
        <div class="main-layout__top">
            <div class="main-layout__date-picker js-layout-date-picker"></div>
            <div class="main-layout__timeline js-layout-timeline"></div>
        </div>
        <div class="main-layout__body js-layout-body"></div>
        <div class="main-layout__footer"></div>
    </div>
</body>
</html>
