<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Яндекс переговорки</title>
</head>
<body>
    {{> components/header.hbs}}
    <div class="tooltip">
        <span class="tooltip__arrow">&nbsp;</span>
        <span class="tooltip__edit">
            <button class="btn btn_round btn_grey">
                <span class="btn__icon">
                    <i class="icon icon_edit">&nbsp;</i>
                </span>
            </button>
        </span>
        <div class="tooltip__title">Рассуждения о высоком</div>
        <div class="tooltip__text">
            <span class="tooltip__date">14 декабря</span>
            <span class="tooltip__time">15:00 - 17:00</span>
            <span class="tooltip__bullet">&#8226;</span>
            <span class="tooltip__room">Жёлтый дом</span>
        </div>
        <div class="tooltip__participant">
            <div class="short-participant">
                <img class="short-participant__img" src="../assets/dart.jpg" alt="">
                <span class="shor-participant__name">Дарт Вейдер</span>
            </div>
        </div>
        <div class="tooltip__others">
            12 участников
        </div>
    </div>
    <div class="main-layout">
        <div class="main-layout__top">
            <div class="main-layout__day-picker js-layout-day-picker"></div>
            <div class="main-layout__timeline js-layout-timeline"></div>
        </div>
        <div class="main-layout__body js-layout-body"></div>
        <div class="main-layout__footer"></div>
    </div>
</body>
</html>
