<div class="timeline">
    <span class="timeline__current js-current" style="left: 21%">11:05</span>
    <span class="timeline__hour timeline__hour_past">8</span>
    <span class="timeline__hour timeline__hour_past">9</span>
    <span class="timeline__hour timeline__hour_past">10</span>
    <span class="timeline__hour timeline__hour_past">11</span>
    <span class="timeline__hour">12</span>
    <span class="timeline__hour">13</span>
    <span class="timeline__hour">14</span>
    <span class="timeline__hour">15</span>
    <span class="timeline__hour">16</span>
    <span class="timeline__hour">17</span>
    <span class="timeline__hour">18</span>
    <span class="timeline__hour">19</span>
    <span class="timeline__hour">20</span>
    <span class="timeline__hour">21</span>
    <span class="timeline__hour">22</span>
    <span class="timeline__hour">23</span>
</div>
